body {
    margin: 1% auto;
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    /* fallback for old browsers */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#recipe {
    background-color: white;
    padding: 7%;
}

h1 {
    display: inline;
}

h1, h2 {
    color: #130b54;
}

h3 {
    margin-top: 4%;
}

h1, h2, h3, h4, #pizza-desc {
    font-family: 'Merriweather', sans-serif;
}

#pizza-desc {
    line-height: 1.75;
}

#info {
    line-height: 0.8;
    border-left: 5px solid rgb(42, 137, 184);
    padding-left: 10px;
}

hr {
    margin-top: 25px;
}

img {
    height: 25%;
    width: 25%;
    float: right;
    margin-bottom: 5%;
    display: none;
}

#top-p {
    padding-top: 7px;
}

#bottom-p {
    padding-bottom: 7px;
}

.emphasize {
    font-weight: bold;
}

.time {
    font-size: 105%;
}

#ingredients li {
    list-style-type: square;
}

#preparation li, #cooks-notes li{
    margin: 1.2% 0;
}

@media (min-width: 1200px) {

    /* Styles below follow through only for screens which have a width greater than min_width */
    body {
        border: 20px solid #b3bac6;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: 5px 10px rgb(141, 150, 149);
        width: 50%;
        font-size: 100%;
    }

    #recipe {
        /* Allows us to set a background which curves at the corners */
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        padding: 3%;
    }

    img {
        height: 25%;
        width: 25%;
    }
}

@media (min-width: 1000px) {
    img {
        display: inline-block;
    }
}
